.container::after {
    clear: both;
    content: '';
    display: table;
}

.pic {
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    height: 240px;
    margin: 10px;
    width: 240px;
}

a.nav {
    background: white;
    display: block;
    float: left;
    height: 64px;
    padding: 10px 20px;
    position: relative;
    width: 64px;
}

i {
    display: inline-block;
    position: relative;
}

i::after, i::before {
    box-sizing: border-box;
    content: '';
    position: absolute;
}

.icon-dir {
    background: black;
    height: 2px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 64px;
}

.icon-dir::after {
    border: 2px solid black;
    bottom: 1px;
    height: 25px;
    width: 25px;
}

.icon-prev::after {
    border-right: none;
    border-top: none;
    left: -1px;
    transform: rotate(50grad);
    transform-origin: 0 100%;
}

.icon-next::after {
    border-left: none;
    border-top: none;
    right: -1px;
    transform: rotate(-50grad);
    transform-origin: 100% 100%;
}

.container.navigation {
    position: relative;
}

.container.navigation svg {
    height: 84px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 208px;
}

.container.navigation .filter {
    mix-blend-mode: screen;
}
