body {
    background: white;
    color: #404040;
    font: 300 16px/24px Roboto, sans-serif;
    margin: 0;
    text-rendering: optimizeLegibility;
}

.column1 {
    border-left: 234px solid #FCFEFA;
    padding: 20px;
}

.column2 {
    background: #FCFEFA;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    width: 234px;
}

a {
    color: #2196F3;
    text-decoration: none;
}

ul.tags {
    list-style: none;
    margin: 20px;
    padding: 0;
}

.tags .weight {
    color: #808080;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    top: -6px;
}

.container::after {
    clear: both;
    content: '';
    display: table;
}

.pic {
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    height: 240px;
    margin: 10px;
    width: 240px;
}

[data-lnk] {
    cursor: pointer;
}

img.view {
    max-height: calc(100vh - 40px);
    max-width: 100%;
    vertical-align: bottom;
}

img.view.zoom {
    max-height: none;
    max-width: none;
}

.nav {
    background: white;
    display: block;
    float: left;
    height: 64px;
    padding: 10px 20px;
    position: relative;
    width: 64px;
}

i {
    display: inline-block;
    position: relative;
}

i::after, i::before {
    box-sizing: border-box;
    content: '';
    position: absolute;
}

.icon-dir {
    background: black;
    height: 2px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 64px;
}

.icon-dir::after {
    border: 2px solid black;
    bottom: 1px;
    height: 25px;
    width: 25px;
}

.icon-prev::after {
    border-right: none;
    border-top: none;
    left: -1px;
    transform: rotate(50grad);
    transform-origin: 0 100%;
}

.icon-next::after {
    border-left: none;
    border-top: none;
    right: -1px;
    transform: rotate(-50grad);
    transform-origin: 100% 100%;
}

.container.navigation {
    position: relative;
}

.container.navigation svg {
    height: 84px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 208px;
}

.container.navigation .filter {
    mix-blend-mode: screen;
}
