<!doctype html>
<html>
    <head>
        <meta charset=utf8>
        <title>Hamsters</title>
        <link rel=stylesheet href='./app.css'>
        <link rel=stylesheet href='./{{ css }}'>
    </head>
    <body>
        <div class=container>
            {% for pic in pics %}
            <div class=pc>
                <div class=p data-p='{{ pic }}'></div>
            </div>
            {% endfor %}
        </div>

        {% if prevPage %}
        <a href='./{{ prevPage }}'>Previous page</a>
        {% endif %}

        {% if nextPage %}
        <a href='./{{ nextPage }}'>Next page</a>
        {% endif %}
    </body>
</html>
