<!doctype html>
<html>
    <head>
        <meta charset=utf8>
        <title>Hamsters</title>
        <link rel=stylesheet href='./app.css'>
    </head>
    <body>
        <div class=container>
            {% for pic in pics %}
            <div class=pic style='background-image:url(./media/pre/{{ pic }}.png)'></div>
            {% endfor %}
        </div>

        {% if prevPage %}
        <a href='./{{ prevPage }}' class=nav><i class='icon-dir icon-prev'></i></a>
        {% endif %}

        {% if nextPage %}
        <a href='./{{ nextPage }}' class=nav><i class='icon-dir icon-next'></i></a>
        {% endif %}
    </body>
</html>
