<!doctype html>
<html>
    <head>
        <meta charset=utf8>
        <title>Hamsters</title>
        <link rel=stylesheet href='./app.css'>
    </head>
    <body>
        <div class=container>
            {% for pic in pics %}
            <div class=pic style='background-image:url(./media/pre/{{ pic }}.png)'></div>
            {% endfor %}
        </div>

        <div class='container navigation'>
            {% if prevPage %}
            <a href='./{{ prevPage }}' class=nav><i class='icon-dir icon-prev'></i></a>
            {% endif %}

            {% if nextPage %}
            <a href='./{{ nextPage }}' class=nav><i class='icon-dir icon-next'></i></a>
            {% endif %}

            <span class=nav></span>

            <svg>
                <linearGradient id=nav-gradient>
                    <stop stop-color='#ff2a68' offset='0%' />
                    <stop stop-color='#c643fb' offset='100%' />
                </linearGradient>
                <rect class=filter fill='url(#nav-gradient)' height='100%' width='100%' />
            </svg>
        </div>
    </body>
</html>
